	<div class="topbar">
      	<div class="fill">
        	<div class="container">
          		<%= link_to "ArchiDataBase", root_path, :class => "brand" %>

          		<ul class="nav">
            		<li<%= cp(projects_path) %>>
                  <%= link_to "Projects", projects_path %></li>
            		<li<%= cp(contacts_path) %>>
                  <%= link_to "Contacts", contacts_path %></li>
            		<li<%= cp(timesheets_path) %>>
                  <%= link_to "Timesheets", timesheets_path %></li>
            		<li<%= cp(patterns_path) %>>
                  <%= link_to "Patterns", patterns_path %></li>
          		</ul>

              <div class = "nav-buttons">
              <% if signed_in? %>
                    <div class="signed-in-link">Signed in as <%= link_to "#{current_user.name}", current_user %></div>
                <% end %>
                  <% if signed_in? %>
                      <div class="btn small"><%= link_to "Sign Out", signout_path, :method => :delete %></div>
                  <% else %>
                      <div class="btn primary small"><%= link_to "Sign in", signin_path %></div>
                  <% end %>
              </div>
        	</div>
      	</div>

    </div> <!-- end topbar -->